#app{
    width:100%;
    height:600px;
}
#playerList {
    width:20%;
    height:100%;
    float:left;
    background-color: beige;
}
#chat {
    width:20%;
    height:100%;
    float:right;
    background-color: beige;
}
#gameSpace{
    width:60%;
    height:100%;
    margin: 0 auto;
    background-color:grey;
}
